body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container1{
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 5px;
}

.valid-message {
    color: green;
    margin-top: 5px;
}
.nav-link.dropdown-toggle {
    display: flex;
    align-items: center;
    color: white; 
}

.nav-link.dropdown-toggle img {
    margin-right: 8px; 
}

.nav-link.dropdown-toggle:hover, .nav-link.dropdown-toggle:focus {
    color: white; 
    text-decoration: none; 
}

.btn-carrito {
    color: white; 
    background-color: transparent; 
    border: none; 
}

.btn-carrito:hover, .btn-carrito:focus {
    color: white; 
    background-color: rgba(255, 255, 255, 0.2); 
    text-decoration: none; 
}
.footer {
    background-color: #2f2f2f;
    color: #fff; 
    padding: 20px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.social-icons {
    margin-bottom: 20px;
}

.social-icon {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

.social-icon:hover {
    color: #1abc9c; 
}

.social-icon i {
    transition: color 0.3s ease-in-out;
}

.copyright {
    font-size: 14px;
}
.info-menu-derecha img {
    width: 30px; 
    height: auto; 
    margin-right: 10px; 
}
